:root {
  --primary: #54e6af;
  --blue: #2c344b;
  --dark-blue: #121725;
  --white: #fff;
  --gray: #5a668a;
  --light-gray: #c2cbe5;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url('/mobile/image-host.jpg') no-repeat, var(--dark-blue);
  background-size: cover;
  font-family: 'Chivo', sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(18, 23, 37, 0.9);
  background-repeat: no-repeat;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 3.875rem;
  padding: 0 1.5rem;
}

.main {
  text-align: center;
  margin-top: 3.5rem;
  color: var(--white);
  font-weight: 100;
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.main__title {
  text-transform: uppercase;
  font-weight: inherit;
  font-size: 1.625rem;
  line-height: 2.375rem;
  color: var(--primary);
}

.hightlight {
  color: var(--white);
}

.main__text {
  margin-top: 1rem;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  color: var(--light-gray);
}

.brands {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 1.5rem;
}

.form {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form__input,
.form__btn {
  border: none;
  border-radius: 28px;
  font-weight: 700;
  line-height: 1.75rem;
  font-size: 0.875rem;
  font-family: inherit;
  padding: 0.5625rem 2rem;
}

.form__input {
  background-color: var(--blue);
  color: var(--white);
}

.form__input::placeholder {
  color: #9599a5;
}

.form__btn {
  background-color: var(--primary);
  color: var(--dark-blue);
  cursor: pointer;
  transition: background-color 0.2s;
}

.form__btn:hover {
  background-color: #b3ffe2;
}

.error {
  color: #fb3e3e;
  margin-left: 2rem;
  margin-top: 0.5rem;
  font-weight: 700;
  display: none;
}

@media (min-width: 768px) {
  body {
    background: url('/tablet/image-host.jpg') no-repeat top right, var(--dark-blue);
    background-size: 489px;
  }

  .overlay {
    background-color: unset;
    overflow-y: auto;
    background-image: url('/desktop/bg-pattern-dots.svg');
    background-position: bottom left;
  }

  .header {
    padding: 0 2.5rem;
  }

  .header {
    justify-content: start;
    margin-top: 3.125rem;
  }

  .main {
    max-width: 635px;
    text-align: left;
    background-color: var(--dark-blue);
    margin-top: 9.5rem;
    margin-bottom: 16rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    padding-top: 5.75rem;
  }

  .main__title {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .main__text {
    margin-top: 2rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .brands {
    order: 1;
  }

  .form {
    margin-top: 2.5rem;
    flex-direction: row;
    background-color: var(--blue);
    border-radius: 28px;
    gap: 0;
    max-width: 440px;
    padding: 0.25rem;
  }

  .form__input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    flex: 1;
  }

  .brands {
    margin-top: 4rem;
    max-width: 536px;
    gap: 2.5rem;
  }
}

@media (min-width: 1110px) {
  body {
    background-image: url('/desktop/image-host.jpg');
    background-size: 885px;
    background-position: top 130px right;
  }

  .overlay {
    background-position: right bottom 80px;
  }

  .header {
    margin-top: 6.375rem;
    padding: 0 10.3125rem;
  }

  .main {
    max-width: 723px;
    margin-top: 6.5rem;
    margin-left: 10.3125rem;
    margin-bottom: 2rem;
    padding-top: 5.5rem;
    padding-right: 3.625rem;
  }

  .main__title {
    font-size: 3.25rem;
    line-height: 3.875rem;
  }

  .main__text {
    margin-top: 1.5rem;
    max-width: 445px;
  }
}
